
.content {
    color: #d8d8d8;
    margin-top: 15%;
    margin-left: 100px;
    display: flex;
}

.btnplaygame{
    margin-top: 10px;
    background: #d8d8d8;
    cursor: pointer;
    color: #191919;
    padding: 10px 15px;
    float: left;
    border: 0;
    border-radius: 5px;
}

.btnplaygame:hover{
    background: #191919;
    color: #d8d8d8;
}
